.room-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
}

// .item-card {
//     margin: 8px;
//     width: 400px;
//     cursor: pointer;
// }

mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.item-img-container {
    width: 398px;
    height: 398px;
    border-top: 1px solid var(--mat-sys-outline);
    border-bottom: 1px solid var(--mat-sys-outline);
    
    img {
        width: 398px;
        height: 398px;
        object-fit: cover;
    }
}

.position-container {
    background-color: var(--mat-sys-secondary-container);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}