<section>
    <div class="room-container">
        @for (room of rooms; track $index) {
        <mat-card class="item-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{room.name}}</mat-card-title>
            </mat-card-header>
            <div class="item-img-container">
                <img mat-card-image src="{{room.photoURL}}" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-content class="position-container">
                <p>
                    {{room.description}}
                </p>
            </mat-card-content>
        </mat-card>
        }
    </div>
</section>