<section>@if (!edit) {
    <mat-card appearance="outlined" class="example-form-field">
        <mat-card-header>
            <mat-card-title>Labels</mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card-header>

        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="edit = true">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete all</span>
            </button>
        </mat-menu>

        <mat-card-content>
            <mat-chip-set aria-label="Fish selection">
                @for (label of labels(); track label) {
                <mat-chip class="example-box" cdkDrag>{{label.name}}</mat-chip>
                }
            </mat-chip-set>
        </mat-card-content>
    </mat-card>
    }
    @if (edit) {
    <mat-form-field class="example-form-field">
        <mat-label>Item Label</mat-label>
        <mat-chip-grid #chipGrid>
            @for (label of labels(); track label) {
            <mat-chip-row (removed)="removeLabel(label)" [editable]="true" (edited)="editLabel(label, $event)">
                {{label.name}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
        </mat-chip-grid>
        <input placeholder="New Label..." [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addLabel($event)" />
    </mat-form-field>
    <button class="margin-left-auto" (click)="saveLabels()" mat-button>Save</button>
    }

</section>