<section>
    <div class="input-container">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Search...</mat-label>
                <input matInput placeholder="Find your Item" [(ngModel)]="value">
                @if (value) {
                    <mat-icon matSuffix (click)="value=''">close</mat-icon>
                } @else {
                <mat-icon matSuffix>search</mat-icon>
                }
            </mat-form-field>
    </div>
    <div class="search-results scrollbar-material">
        @for (item of items; track $index) {
        <mat-card class="item-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-set>
                            @for (label of item.labels.slice(0, 3); track $index) {
                            <mat-chip class="example-box" cdkDrag>{{label}}</mat-chip>
                            }

                            @if (item.labels.length >= 3) {
                            <div [matBadge]="item.labels.length - 3" matBadgeColor="accent"
                                matBadgePosition="above after" matBadgeSize="medium">
                                <mat-chip class="example-box" cdkDrag (click)="openDialog(item)">...</mat-chip>
                            </div>
                            }
                        </mat-chip-set>
                    </mat-card-subtitle>
                    <div class="item-img-container">
                        <img mat-card-lg-image src="{{item.photoURL}}">
                    </div>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="description-container">
                {{item.description}}
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-content class="position-container">
                <div matTooltip="{{item.storage.room}}">{{item.storage.room}}</div>
                <mat-icon aria-hidden="true" fontIcon="arrow_forward_ios"></mat-icon>
                <div matTooltip="{{item.storage.furniture}}">{{item.storage.furniture}}</div>
                <mat-icon aria-hidden="true" fontIcon="arrow_forward_ios"></mat-icon>
                <div matTooltip="{{item.storage.space}}">{{item.storage.space}}</div>
                <mat-icon aria-hidden="true" fontIcon="arrow_forward_ios"></mat-icon>
                <div matTooltip="{{item.storage.position}}">{{item.storage.position}}</div>
            </mat-card-content>
        </mat-card>
        }
    </div>
</section>