<mat-card [ngClass]="{ 'border-unset': isMobile }">
    <form [formGroup]="form">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    <h2>Edit Room</h2>
                </mat-card-title>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-header>
            <mat-card-title-group [ngClass]="{ 'flex-c-c-c pad-bottom-24': isMobile }">
                <div [ngClass]="{ 'full-width flex-c-c-c': isMobile }">
                    <mat-form-field class="input-width" [ngClass]="{ 'full-width': isMobile }">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="input-width" [ngClass]="{ 'full-width': isMobile }">
                        <mat-label>Room description</mat-label>
                        <input matInput formControlName="description" class="scrollbar-material">
                    </mat-form-field>
                </div>
                <div class="item-img-container">
                    <img mat-card-lg-image [src]="croppedImage">
                    <div class="flex-c-c" (click)="fileInput.click()">
                        <mat-icon fontIcon="edit"></mat-icon>
                        <input type="file" #fileInput (change)="fileChangeEvent($event)" accept="image/*" hidden>
                    </div>
                </div>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content class="mar-top-24">
            <div class="location-container scrollbar-material">
                <mat-accordion formArrayName="furnitures">
                    @for (furniture of room.furnitures; let i = $index; track $index) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header [ngClass]="{'edit-style': furniture.titelEdit}">
                            <mat-panel-title>
                                @if (!furniture.titelEdit) {
                                <div (click)="onTitleClick($event, furniture)">
                                    {{ furnitures.at(i).get('furnitureName')?.value }}
                                </div>
                                } @else {
                                <div [formGroupName]="i">
                                    <mat-form-field (click)="preventEvent($event)"
                                        [ngClass]="{ 'full-width': isMobile, 'form-field-margin': furniture.titelEdit}">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="furnitureName"
                                            (keydown.enter)="furniture.titelEdit = false">
                                    </mat-form-field>
                                </div>
                                }
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-selection-list name="space" [multiple]="false">
                            @for (space of furniture.space; let si = $index; track $index) {
                            <div [formGroup]="getSpaceGroup(i, si)">
                                @if (!space.titelEdit) {
                                <mat-list (click)="space.titelEdit = true">{{ getSpaces(i).at(si).get('name')?.value
                                    }}</mat-list>
                                } @else {
                                <mat-form-field>
                                    <input matInput formControlName="name" (keydown.enter)="space.titelEdit = false">
                                </mat-form-field>
                                }
                            </div>
                            }
                        </mat-selection-list>

                    </mat-expansion-panel>
                    }
                </mat-accordion>

            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="flex-end pad-top-24">
                <button mat-button class="cancel-btn" (click)="this.closeEdit()">Cancel</button>
                <button mat-button (click)="saveEditedItem()">Save</button>
            </div>
        </mat-card-content>
    </form>
</mat-card>

@if (showCropper) {
<div class="img-cropper-overlay flex-c-c-c">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        [containWithinAspectRatio]="true" format="png" (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
    <div class="cropper-buttons">
        <button (click)="removeImg(); closeCropper()" mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon>cancel</mat-icon>
        </button>
        <button (click)="closeCropper()" mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>
}

@if (isLoading) {
<div class="overlay-spinner flex-c-c">
    <mat-spinner diameter="60"></mat-spinner>
</div>
}