.add-item-container {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.stepper {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

mat-form-field {
  max-width: 275px;
  width: 100%;
}

.location-container {
  max-height: 400px;
  width: 100%;
  box-sizing: border-box;
  padding: 1px;
  overflow: auto;
}

.position-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 8px;
  background-color: var(--mat-sys-secondary-container);
  border-radius: 8px;

  div {
    width: calc(((366px - (22px * 4)) / 4));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  mat-icon {
    font-size: 1rem;
    width: 16px;
    height: 16px;
  }
}

.btn-container-imgpreview {
  padding-top: 16px;
  margin-left: auto;
}

.img-cropper-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  max-height: 90%;
  max-width: 90%;
}

.cropper-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 16px;
}

@media (max-width: 799px) {
  .position-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px 0 0;
    gap: 16px;
    text-align: center;

    div {
      width: 90%;
    }

    mat-icon {
      transform: rotate(90deg);
    }
  }

  .position-input-container {
    margin: 0;
  }
}